<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.studio.yami.kadesubmission">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_kade"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_kade_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
                android:name=".activity.PlayerActivity"
                android:parentActivityName=".activity.TeamActivity"
                android:theme="@style/AppTheme.NoActionBar"/>

        <activity
                android:name=".activity.TeamActivity"
                android:parentActivityName=".activity.DetailActivity"
                android:theme="@style/AppTheme.NoActionBar"/>

        <activity
                android:name=".activity.FavoriteActivity"
                android:parentActivityName=".activity.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>

        <activity
                android:name=".activity.SearchActivity"
                android:label="@string/search"
                android:parentActivityName=".activity.MainActivity"/>

        <activity
                android:name=".activity.MatchActivity"
                android:label="@string/detail_match"/>

        <activity
                android:name=".activity.DetailActivity"
                android:parentActivityName=".activity.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>